.card-container {
  height: 80vh;
  border: 5px solid #CE3E3E;
  margin: 0 8%;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.548), 0 20px 40px 0 rgba(61, 61, 61, 0.19);
  width: 80%
}

.restaurant-name {
  text-align: center;
  font-family: "Pacifico";
  color: #CE3E3E;
  margin-top: 2%
}

.meal-name {
  font-family: "Varela Round", sans-serif;
  color: #505050;
  letter-spacing: 10px;
  font-weight: bold;
  text-align: center
}

.food-items {
  font-family: "Valera Round", sans-serif;
  text-align: center;
  white-space: pre-wrap;
  color: #505050
}