.logo-container {
  text-align: center
}

#logo {
  width: 50%;
  margin-top: 10%
}

.begin-container {
  text-align: center;
  margin-top: 5%
}

.btn-primary {
  background-color: #D9393E;
  border: none;
}

.home-container {
  background-image: url('../assets/images/background.png');
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  overflow: auto
}

#slogan {
  font-family: "Pacifico";
  color: #505050;
  text-align: center
}