.nutritional-info-form-container {
  width: 70%;
  margin: 0 auto
}

#total-calories {
  width: 40%
}

#meals {
  width: 50%
}

textarea {
  height: auto
}

#macro-distribution {
  margin-bottom: -2%
}

.percentage-container {
  margin-bottom: 10%
}

.percentage {
  font-family: 'Varela Round', sans-serif;
  color: #505050
}

.image-filler-nutritional {
  background-image: url('../assets/images/nutrition-1.jpg');
  height: 130vh;
  background-size: 100vh;
  background-attachment: fixed
}

.nutritional-info-container {
  height: 100vh;
}

#submit-button {
  font-family: 'Varela Round', sans-serif;
}

.loading {
  margin-top: -10%;
}

#spinner {
  width: 50%
}