.title {
  font-family: "Pacifico";
  color: #505050;
  text-align: center;
  margin-bottom: 20%
}

.info-caption {
  font-family: "Varela Round", sans-serif;
  color: #505050
}

.personal-info-form-container {
  width: 70%;
  margin: 0 auto
}

.form-control {
  font-family: "Varela Round", sans-serif;
  margin-bottom: 10%;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.158), 0 4px 10px 0 rgba(145, 145, 145, 0.19);
  color: #505050;
}

#years, #weight {
  width: 50%
}

#submit-button {
  border-radius: 10px;
  margin-bottom: 5%;
}

.personal-info-container {
  height: 100vh
}

.image-filler-personal {
  background-image: url('../assets/images/nutrition-1.jpg');
  height: 120vh;
  background-size: 100vh;
  background-attachment: fixed
}